Source: ros-galactic-massrobotics-amr-sender
Section: misc
Priority: optional
Maintainer: InOrbit <support@inorbit.ai>
Build-Depends: debhelper (>= 9.0.0), python3-jsonschema <!nocheck>, python3-mock <!nocheck>, python3-pep8 <!nocheck>, python3-pytest <!nocheck>, python3-pytest-mock <!nocheck>, python3-yaml <!nocheck>, ros-galactic-ament-copyright <!nocheck>, ros-galactic-ament-flake8 <!nocheck>, ros-galactic-ament-pep257 <!nocheck>, ros-galactic-common-interfaces <!nocheck>, ros-galactic-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-massrobotics-amr-sender
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-pykdl, python3-websockets, ros-galactic-rclpy, ros-galactic-tf2-kdl, ros-galactic-ros-workspace
Description: MassRobotics AMR Interop Sender
